section {
    height: 100vh;
}

.logo {
    width: 20%;
}

div {
    text-align: center;
}

.hub-line {
    border-left: 1px solid var(--cor-de-fundo);
}

.hub-button {
    color: #fff;
    background-color: var(--roxo-secundario);
    border: 1px solid var(--roxo-secundario);
}

.hub-button:hover {
    color: var(--roxo-secundario);
    background-color: transparent;
    transition: 0.4s;
}

.upper-hub-curve {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.upper-hub-curve svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 166px;
    transform: rotateY(180deg);
}

.upper-hub-curve .shape-fill {
    fill: #7633cc;
}

.lower-hub-curve {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.lower-hub-curve svg {
    position: relative;
    display: block;
    width: calc(195% + 1.3px);
    height: 152px;
}

.lower-hub-curve .shape-fill {
    fill: #7633cc;
}

.empresa_titulo {
    font-size: 48px;
}

@media screen and (max-width: 1000px) {
    .portal-text {
        width: 70%;
    }
}

@media screen and (max-width: 835px) {
    .logo {
        width: 40%;
    }

    .portal-text {
        width: 85%;
    }
}