<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <img class="dor" src="assets/images/avatar.png" alt="">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link menu_link" href="/pessoas">Indivíduos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu_link" href="/empresas">Organizações</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu_link" href="#">Sobre nós</a>
                </li>
            </ul>
        </div>
    </div>
</nav>