<header class="cabecalho">
    <app-navbar></app-navbar>
</header>
<section class="bg-light text-justify d-flex align-items-center" id="candidato1_principal">
    <div class="mx-5 py-5">
        <h1 class="h1 titulo">Principal</h1>
        <div class="d-flex flex-column justify-content-center">
            <p class="texto">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque consequatur incidunt veritatis quibusdam error quisquam quo quod dignissimos numquam, magni necessitatibus sit nihil mollitia cupiditate sed exercitationem fuga esse excepturi!</p>
            <p class="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro dolore eum modi! Ipsam totam, repudiandae repellat deleniti aspernatur, quae atque labore sed voluptate corrupti explicabo aliquam esse? Placeat explicabo consectetur dicta atque saepe voluptatum ipsam consequatur nobis eius quae. Asperiores voluptates quasi, nulla quam expedita velit libero consequatur voluptatum saepe.</p>
        </div>
    </div>
    <img class="imagem" src="assets/images/imagem.jpg" alt="Imagem de um aperto de mão.">
</section>
<div class="linha"></div>
<main class="conteudo">
    <div class="fundo_imagem">
        <section class="d-flex flex-row-reverse justify-content-between align-items-center me-5" id="candidato1_formularios">
            <div class="form bg-light">
                <h1 class="h1 my-4">Formulários</h1>
                <h2 class="h2 fw-normal my-4">Lorem ipsum dolor sit amet.</h2>
                <div class="text-center">
                    <a class="btn botao botao_principal" href="#">Em breve</a>
                </div>
            </div>
        </section>
    </div>
    <div class="linha"></div>
    <section class="bg-light text-justify d-flex align-items-center" id="candidato1_comunidade">
        <div class="mx-5 py-5 ">
            <h1 class="h1 titulo">Comunidade</h1>
            <div class="d-flex flex-column justify-content-center ">
                <p class="texto">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque consequatur incidunt veritatis quibusdam error quisquam quo quod dignissimos numquam, magni necessitatibus sit nihil mollitia cupiditate sed exercitationem fuga esse excepturi!</p>
                <p class="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro dolore eum modi! Ipsam totam, repudiandae repellat deleniti aspernatur, quae atque labore sed voluptate corrupti explicabo aliquam esse? Placeat explicabo consectetur dicta atque saepe voluptatum ipsam consequatur nobis eius quae. Asperiores voluptates quasi, nulla quam expedita velit libero consequatur voluptatum saepe.</p>
            </div>
        </div>
        <img class="imagem" src="assets/images/imagem.jpg" alt="Imagem de um aperto de mão.">
    </section>
</main>
<app-footer></app-footer>