<header class="cabecalho">
    <app-navbar></app-navbar>
</header>
<section class="conteudo_apresentacao flex" id="candidato1_principal">
    <div class="apresentacao_paragrafo fundo_branco">
        <h1 class="titulo">Principal</h1>
        <div class="apresentacao_espacamento">
            <p class="texto">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque consequatur
                incidunt veritatis quibusdam error quisquam quo quod dignissimos numquam, magni necessitatibus
                sit nihil mollitia cupiditate sed exercitationem fuga esse excepturi!</p>
            <p class="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro dolore eum modi!
                Ipsam totam, repudiandae repellat deleniti aspernatur, quae atque labore sed voluptate corrupti
                explicabo aliquam esse? Placeat explicabo consectetur dicta atque saepe voluptatum ipsam
                consequatur nobis eius quae. Asperiores voluptates quasi, nulla quam expedita velit libero
                consequatur voluptatum saepe.</p>
        </div>
    </div>
    <img class="imagem" src="assets/images/imagem.jpg" alt="Imagem de um aperto de mão.">
</section>
<div class="linha"></div>
<main class="conteudo">
    <div class="fundo_imagem">
        <section class=" conteudo_form flex" id="candidato1_formularios">
            <div class="form">
                <h1 class="titulo form_elemento flex">Formulários</h1>
                <h2 class="subtitulo form_elemento flex">Lorem ipsum dolor sit amet.</h2>
                <div class="text-center">
                    <a class="botao botao_principal" href="#">Em breve</a>
                </div>
            </div>
        </section>
    </div>
    <div class="linha"></div>
    <section class="conteudo_apresentacao flex" id="candidato1_comunidade">
        <div class="apresentacao_paragrafo fundo_branco">
            <h1 class="titulo">Comunidade</h1>
            <div class="apresentacao_espacamento">
                <p class="texto">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque consequatur
                    incidunt veritatis quibusdam error quisquam quo quod dignissimos numquam, magni necessitatibus
                    sit nihil mollitia cupiditate sed exercitationem fuga esse excepturi!</p>
                <p class="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro dolore eum modi!
                    Ipsam totam, repudiandae repellat deleniti aspernatur, quae atque labore sed voluptate corrupti
                    explicabo aliquam esse? Placeat explicabo consectetur dicta atque saepe voluptatum ipsam
                    consequatur nobis eius quae. Asperiores voluptates quasi, nulla quam expedita velit libero
                    consequatur voluptatum saepe.</p>
                <div class="form_botao">
                    <a class="botao botao_principal" href="#">Em breve</a>
                </div>
            </div>
        </div>
        <img class="imagem" src="assets/images/imagem.jpg" alt="Imagem de um aperto de mão.">
    </section>
</main>
<app-footer></app-footer>