<header class="cabecalho">
    <app-navbar></app-navbar>
</header>
<section class="bg-light text-justify d-flex align-items-center" id="candidato1_principal">
    <div class="mx-5 py-5">
        <h1 class="h1 title">Principal</h1>
        <div class="d-flex flex-column justify-content-center">
            <p class="text">Uma das melhores maneiras de agirmos em favor de nossos interesses é entendendo que os problemas que os impactam são coletivamente construídos. Mas essa percepção da dimensão coletiva de nossos problemas é apenas o primeiro passo. Siga em frente conosco e dê mais um passo no rumo da construção coletiva de soluções ajustadas à realidade cotidiana.</p>
            <p class="text">Compartilhe suas visões acerca das práticas de empresas, governos e instituições que afetam o seu cotidiano respondendo nossos formulários online. É fácil e totalmente anônimo. E participe de nossas comunidades online, elegendo e debatendo temas com outros que tenham os mesmos interesses, sempre com respeito às opiniões e valores diversos e às leis nacionais e internacionais.</p>
        </div>
    </div>
    <img class="image" src="assets/images/imagem.jpg" alt="Imagem de um aperto de mão.">
</section>
<div class="line"></div>
<main class="conteudo">
    <div class="bg-image">
        <section class="form-wrapper py-5" id="candidato1_formularios">
            <div class="form bg-light">
                <h1 class="h1 my-4">Formulários</h1>
                <p class="text">Suas informações são valiosas para que possamos formar nosso ranking ESG. É totalmente anônimo e gratuito. Participe.</p>
                <div class="text-center">
                    <a class="btn button main-button large-button" href="#">Em breve</a>
                </div>
            </div>
        </section>
    </div>
    <div class="line"></div>
    <section class="bg-light text-justify d-flex align-items-center" id="candidato1_comunidade">
        <div class="mx-5 py-5">
            <h1 class="h1 title">Comunidade</h1>
            <div class="d-flex flex-column justify-content-center">
                <p class="text">Quer encontrar pessoas, eleger e debater temas que considera importantes para sua vida como consumidor, trabalhador e cidadão? Crie ou entre em uma comunidade online e interaja em um ambiente de diálogos em favor do direito e da paz.</p>
            </div>
        </div>
        <img class="image" src="assets/images/imagem.jpg" alt="Imagem de um aperto de mão.">
    </section>
</main>
<app-footer></app-footer>