<header class="cabecalho">
    <app-navbar></app-navbar>
</header>
<main>
    <section class="principal d-flex align-items-center">
        <div>
            <h2 class="h2">Consumidores, trabalhadores e cidadãos</h2>
            <p class="lh-lg my-4">Deseja compartilhar suas visões acerca das práticas de empresas, governos e instituições que afetam o seu cotidiano? Responda nossos formulários online.</p>
            <a class="btn botao botao_principal" href="/pessoas">Comece agora</a>
        </div>
        <div>
            <h2 class="h2">Empresas, governos e instituições</h2>
            <p class="lh-lg my-4">Buscando um certificado ESG para validar suas atividades e inserir seus produtos no mercado sustentável? Conheça nosso serviço de autoavaliação.</p>
            <a class="btn botao botao_principal" href="/empresas">Saiba mais</a>
        </div>
    </section>
</main>
<app-footer></app-footer>