<header class="cabecalho">
    <app-navbar></app-navbar>
</header>
<main class="conteudo">
    <section class="principal d-flex align-items-center">
        <div class="principal_div">
            <h2 class="subtitulo">Consumidores, trabalhadores e cidadãos</h2>
            <p class="texto">Deseja compartilhar suas visões acerca das práticas de empresas, governos e instituições que afetam o seu cotidiano? Responda nossos formulários online.</p>
            <a class="botao botao_principal" href="/pessoas">Comece agora</a>
        </div>
        <div class="principal_div">
            <h2 class="subtitulo">Empresas, governos e instituições</h2>
            <p class="texto">Buscando um certificado ESG para validar suas atividades e inserir seus produtos no mercado sustentável? Conheça nosso serviço de autoavaliação.</p>
            <a class="botao botao_principal" href="/empresas">Saiba mais</a>
        </div>
    </section>
</main>
<app-footer></app-footer>