.main {
    height: 100vh;
}

.form-image {
    width: 100%;
}

img {
    width: 15em;
}

.login-span {
    color: var(--azul-principal);
}

.login-span:hover {
    color: #0957aa;
    transition: .2s;
}

@media screen and (max-width: 950px) {
    .strip {
        display: none;
    }

    .main {
        width: 100%;
    }
}