.titulo {
    font-size: 4em;
}

section {
    height: 100vh;
}

.texto {
    font-size: calc(1.275rem + .3vw);
}

@media screen and (max-width: 835px) {
    div {
        width: 85%;
    }

    .titulo {
        font-size: calc(1.325rem + .9vw);
    }

    .texto {
        font-size: unset;
    }
}