<header class="cabecalho">
    <app-navbar></app-navbar>
</header>
<main class="overflow-hidden">
    <section class="screen-size d-flex row align-items-center justify-content-center" id="empresarial_servicos">
        <div class="text-center col-md-10">
            <h1 class="h1 title">Página não encontrada.</h1>
            <p class="fs-4 my-3">A página pela qual você estava procurando não existe.</p>
            <a class="btn button form-button" href="/home">Voltar para o início</a>
        </div>
    </section>
</main>
<app-footer></app-footer>
