<header class="cabecalho">
    <app-navbar></app-navbar>
</header>
<main class="conteudo">
    <section class="tela d-flex row align-items-center justify-content-center" id="empresarial_servicos">
        <div class="text-center col-md-10">
            <h1 class="empresa_titulo">Sustentabilidade, equidade e integridade.</h1>
            <p class="fs-4 my-3">Com os nossos serviços, é possível fazer uma avaliação confiável da sua organização de acordo com as pautas ESG. Registre-se já para garantir destaque no mercado.</p>
            <a class="btn botao botao_principal botao_formulario" href="#">Em breve</a>
        </div>
    </section>
</main>
<app-footer></app-footer>