section {
    height: 100vh;
}

.text {
    font-size: calc(1.275rem + .3vw);
}

@media screen and (max-width: 835px) {
    div {
        width: 85%;
    }
    
    .title {
        font-size: calc(1.325rem + .9vw);
    }

    .text {
        font-size: unset;
    }
}