<header class="cabecalho">
    <app-navbar></app-navbar>
</header>
<main>
    <section class="screen-size d-flex align-items-center justify-content-center" id="empresarial_servicos">
        <div class="text-center col-sm-12 col-md-10">
            <h1 class="title">Sustentabilidade, equidade e integridade.</h1>
            <p class="text my-3">Com os nossos serviços, é possível fazer uma avaliação confiável da sua organização de acordo com as pautas ESG. Registre-se já para garantir destaque no mercado.</p>
            <a class="btn button form-button" href="#">Em breve</a>
        </div>
    </section>
</main>
<app-footer></app-footer>