@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --cor-de-fundo: #dddadd;
    --preto: #070819;
    --branco: #fff;
    --verde-principal: #28db6d;
    --azul-principal: #006fe9;
    --roxo-principal: #7633cc;
    --laranja-secundario: #f4784d;
    --roxo-secundario: #794bf9;
    --vermelho: #ca2843;
    --laranja-degrade: linear-gradient(97.54deg, #fa911a 35.49%, #e05f49 165.37%);
    --verde-degrade: linear-gradient(97.54deg, #5edf5f 35.49%, #04a978 165.37%);
    --azul-degrade: linear-gradient(97.54deg, #40cdb3 35.49%, #006fe9 165.37%);
    --roxo-degrade: linear-gradient(97.54deg, #797cdf 35.49%, #8032c5 165.37%);
    --roxo-secundario-degrade: linear-gradient(97.54deg, #6652ff 35.49%, #7c29b1 165.37%);
    --fonte-principal: 'DM Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: var(--cor-de-fundo);
}

header {
    color: var(--cor-de-fundo);
    background-color: var(--preto);
    padding: 0 0.75em;
}

.resize {
    width: 20vw;
}

.fundo_imagem {
    background-image: url(assets/images/fundo.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    margin: 0;
}

.form {
    padding: 3% 5%;
    border-radius: 6px;
    box-shadow: 0 0 12px 0 #afafaf;
}

.titulo {
    font-size: 48px;
}

.texto {
    line-height: 32px;
    margin: 20px 0;
}

.botao {
    font-weight: 600;
    border-radius: 8px;
    padding: 0.5em 1.5em;
}

.botao_principal {
    color: #fff;
    background-color: var(--verde-principal);
    border: 1px solid var(--verde-principal);
}

.botao_principal:hover {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--verde-principal);
    transition: 0.2s;
}


.botao_formulario:hover {
    color: var(--branco);
    background-color: #04a978;
    border-color: #04a978;
    transition: 0.4s;
}

.text-justify {
    text-align: justify;
}

.imagem {
    width: 40%;
    object-fit: fill;
    border-left: 1px solid #ccc;
}

.teste {
    width: 80%;
}

.faixa {
    background: var(--verde-degrade);
}